.hammock-account-page {
	.hammock-member-account {
		display: flex;
		max-width: 1600px;
		min-width: 100%;
		&-navigation {
			flex: 30%;
			padding: 1em;
			li {
				margin: 0 1rem 1rem 0;
				padding: 0;
				border-bottom: 0;
				list-style: none;
				a{
					text-decoration: none;
				}
				&.is-active{
					a {
						text-decoration: underline;
					}
				}
			}
		}
		&-content {
			flex: 70%;
			padding: 1em;
			height: 100vh;
		}
	}

	.hammock-account-subscription{
		td, th {
			border: 1px solid $light-gray-color;
  			padding: 8px;
		}

		th {
			padding-top: 12px;
			padding-bottom: 12px;
			text-align: left;
			background-color: $red-color;
			color: $white-color;
		}

		tr:nth-child(even){
			background-color: $gray-color;
		}

		tr:hover {
			background-color: $light-gray-color;
		}
	}
}