$teal-color: #007071;
$white-color: #fff;
$black-color: #000;
$green-color:#28a745;
$gray-color: #888;
$background-color: #f1f1f1;
$background-gray:#f0f0f0;
$blue-color: #39f;
$red-color: #ce1620;
$label-gray-color: #666;
$light-gray-color:#f1f1fc;

$button-blue: #1e87f0;
$button-black:#222;

$text-color:#1e1e1e;
$text-gray:#8a8a8a;

$input-border:#8c8f94;
$background-transparent: rgba(255,255,255,0.8);

$error-color: #f17783;
$success-color:#68d58c;
$warning-color:#fdd867;
$primary-color:#7db1f1;