$teal-color: #007071;
$white-color: #fff;
$black-color: #000;
$gray-color: #888;
$background-color: #f1f1f1;
$background-gray:#f0f0f0;
$blue-color: #39f;
$button-blue: #1e87f0;
$red-color: #ce1620;
$label-gray-color: #666;
$light-gray-color:#f1f1fc;
$text-color:#1e1e1e;

$error-color: #f17783;
$success-color:#68d58c;
$warning-color:#fdd867;
$primary-color:#7db1f1;