body {
	height: auto !important;
}
.hammock-dashboard {

	.Toastify__toast-container--top-center {
		top:5em !important;
	}
	
	#wpbody-content {
		background: #f1f1f1;
	}

	.uk-offcanvas-overlay {
		z-index: 99999;
		background-color: $white-color;
		color: $black-color;
		
	}

	#wpcontent {
		padding-left: 0px;
	}

	.hammock-container {
		min-height: 100vh;
		height: 100%;
		margin: 0 auto;
		text-align: left;
		max-width: 100%;
		padding: 1.5rem;
		background: #f1f1f1;

		.hammock-nav {
			left: 19px;
			width: 100%;
		}
	}

	
	.hammock-dashboard {
		.dashboard-heading {
			z-index: 9;
			position: relative;
			width: 100%;
		}
		h4, .uk-h4 {
			color: $text-gray;
			font-size: 1.3rem;
		}
	}

	.success {
		color: $green-color !important;
	}

	a {
		&:active {
			outline: none;
			border: none;
		}

		&:focus {
			outline: none;
			border: none;
			box-shadow: none;
		}
	}

	.ignore-form {
		display: block;
	}

	.hammock-switcher-nav {
		padding-left: 0px;
	}

	.infobox {
		width: 50%;
		padding: 25px;
		margin-right: auto;
		margin-left: auto;

		.info-icon {
			border-radius: 50%;
			display: inline-block;
			padding: 15px 0 15px 0;
			margin-bottom: 0px;
			text-align: center;
			width: 100%;
			svg {
				width: 50px;
				height: 50px;
				stroke-width: 1px;
				color: $blue-color;
			}
		}

		.info-heading {
			font-weight: 600;
			font-size: 19px;
			margin-bottom: 14px;
			margin-top:0px;
			letter-spacing: 2px;
			text-align: center;
		}

		.info-text {
			font-size: 15px;
			color: $label-gray-color;
			margin-bottom: 15px;
			text-align: center;
		}

		.info-link {
			color: $blue-color;
			font-weight: 600;
			text-align: center;
			width: 100%;
			display: block;
			svg {
				width: 15px;
				height: 15px;
			}
		}
	}
	
	.hammock-preloader{
		position: absolute;
		text-align: center;
		overflow: show;
		margin: auto;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-color: $background-transparent;
		.content {
			position: relative;
			top:40%;
		}
	}

	.hammock-center {
		position: absolute;
		text-align: center;
		overflow: show;
		margin: auto;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		.center-content {
			position: relative;
			top:40%;
			&.notification {
				top:30%;
			}
		}
	}

	.hammock-background-contain {
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	.uk-text-meta {
		font-size: .8rem;
	}

	.hammock-navbar {
		> *:focus {
			outline: none;
		}
		span, a {
			padding: 5px 0;
			min-height: auto;
			cursor: pointer;
		}
		li {
			padding: 0 10px;
			&.uk-active {
				border-bottom: 3px solid $blue-color;
			}
		}
	}
	.uk-form-label {
		font-weight: 600;
	}
}

.hammock-check {
	color: $teal-color;
}
.hammock-question {
	color: $blue-color;
}
.hammock-warning {
	color: $red-color;
}

.float-r {
	float: right;
}

.float-l {
	float: left;
}

.hammock-offcanvas-flip {
	min-width: 50%;
	.uk-offcanvas-close {
		top: 50px;
	}
	.uk-offcanvas-bar {
		width: 100%;
		background-color: $white-color !important;
		color: $black-color !important;
		* {
			color: $black-color !important;
		}

		a {
			color: $blue-color !important;
		}

		input {
			border: 1px solid $input-border;
		}

		.uk-button-secondary {
			background-color: $button-black;
			color: $white-color !important;
			&:hover {
				background-color: $button-black;
				color: $white-color !important;
			}
		}
		
		.uk-button-primary {
			background-color: $button-blue;
			color: $white-color !important;

			&:hover {
				background-color: $button-blue;
				color: $white-color !important;
			}
		}
	}
}

.hammock-pointer {
	cursor: pointer;
}

.hammock-badge {
	
	&-circle{
		background-color: $background-gray;
		border-radius: 20px;
		display: inline-block;
		text-align: center;
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 27px;
		align-items: center;
		width: 32px;
		height: 28px;
		color: $text-color;
	}
}