.hubloy_membership-rules {
    &-menu {
        .nav-menu {
            li {
                padding: 10px;
            }
            .uk-active {
                background-color: $white-color;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }
        }
    }
    &-container {
        padding-left: 0;
        background-color: $white-color;
        border-radius: 5px;
        margin-left: -3px;
    }
}